<div class="add-new-container" *ngIf="content">
  <div class="form-container">
    <mat-form-field>
      <input 
      matInput 
      placeholder="Input"
      value="{{ content.name }}">
    </mat-form-field>

    <mat-form-field>
      <textarea 
      matInput 
      placeholder="Textarea">
        {{ content.name + content.symbol + content.position }}
      </textarea>
    </mat-form-field>

    <mat-form-field>
      <mat-select placeholder="Select">
        <mat-option value="{{ content.name }}" selected>{{ content.name }}</mat-option>
        <mat-option value="{{ content.symbol }}">{{ content.symbol }}</mat-option>
        <mat-option value="{{ content.position }}">{{ content.position }}</mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="actions">
    <button mat-raised-button (click)="goBack()">
      Go Back
    </button>
    <button color="primary" mat-raised-button (click)="updateContent()">
      Update
    </button>
  </div>
</div>