<mat-toolbar color="warn" class="mat-elevation-z2">
  <mat-toolbar-row>

    <button type="button" mat-icon-button (click)="navOpen()">
      <mat-icon>menu</mat-icon>
    </button>
    <h1>{{ appname }}</h1>
    <span class="spacer"></span>

    <button mat-button [matMenuTriggerFor]="profile" class="profile-menu">
      <img src="http://www.comingsoon.net/assets/uploads/2017/07/gambit.jpg" 
          alt="Avatar" 
          class="avatar mat-elevation-z4" />
      <span>Remy LeBeau</span>
      <mat-icon>keyboard_arrow_down</mat-icon>
    </button>
    <mat-menu #profile="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>Profile</button>
      <button mat-menu-item>Logout</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="settings">
      <mat-icon>settings</mat-icon>
    </button>
    <mat-menu #settings="matMenu" [overlapTrigger]="false">
      <button mat-menu-item>Theme</button>
      <button mat-menu-item>Settings</button>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="notifications">
      <mat-icon>notifications</mat-icon>
    </button>
    <mat-menu #notifications="matMenu" [overlapTrigger]="false">
      <button mat-menu-item *ngFor="let message of messages">
        {{ message.notification }} - <strong>{{ message.date }}</strong>
      </button>
    </mat-menu>


  </mat-toolbar-row>
</mat-toolbar>