ul {
    width: 100%;
    text-align: left;
    padding: 0;
    margin-top: 50px;
}
ul li {
    list-style: none;
}
ul li a {
    width: 100%;
    display: flex;
    font-size: 15px;
    padding: 15px;
    line-height: 24px;
    color: #706c6c;
}
ul li a:hover {
    background: #2d2b2b;
    color: #82433e;
}
ul li.active a {
    color: #ea5348;
    background: #2d2b2b;
}
ul li a mat-icon{
    margin-right: 15px;
}    