mat-toolbar-row {
    padding-left: 0;
}
header {
    background: #282525;
    padding: 10px 10px;
    width: 230px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
header button {
    line-height: 47px;
}
h1 {
    margin-left: 5px;
}
.spacer {
    flex: 1 1 auto;
}
button {
    font-size: 15px;
}
.profile-menu {
    height: 100%;
    margin: 0 5px 0 0;
}
.avatar {
    min-height: 45px;
    width: 45px;
    border-radius: 50%;
    margin: 0 5px 0 0;
    text-align: center;
}
strong {
    color: #ea5348;
}
