mat-toolbar {
    position: absolute;
    z-index: 100;
    top: 0;
    left: 0;
}
mat-toolbar-row {
    padding-left: 0;
}
header {
    background: #282525;
    padding: 7px 10px;
    width: 230px;
    display: flex;
    text-align: center;
    justify-content: space-between;
}
header button {
    line-height: 47px;
}
h1 {
    margin-left: 5px;
}
.spacer {
    flex: 1 1 auto;
}
button {
    font-size: 15px;
}
.profile-menu {
    height: 100%;
    margin: 0 5px 0 0;
}
strong {
    color: #ea5348;
}
